@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    visibility: hidden;
}

.center {
    margin: auto;
    width: 85%;
}

header {
    background: rgb(134,202,255);
    background: linear-gradient(90deg, rgba(134,202,255,1) 10%, rgba(13,24,255,1) 100%);
    padding: 2%;
}

h1 {
    text-align: center;
    color: #fff;
}

.aside-element {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin: 2px;
}

main h2 {
    display: inline-block;
    margin-left: 3%;
}

.current-weather-box-style {
    border: 2px black solid ;
    padding: 2%;
    margin: 2%;
}

.current-weather-box-style p {
    margin-top: 5px;
}

.glass {
    color: rgb(9, 112, 153);
    margin: 2%;
    padding-left: 1.5%;
    background: linear-gradient(to right bottom, rgba(190, 217, 247, 0.9),rgba(130, 219, 247, 0.3));
    border-radius: 2rem;
    z-index: 10;
    backdrop-filter: blur(2rem);
     /* for hover affect */
    transition: 0.9s ease;
    cursor: pointer;
}

.glass:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

@media (max-width: 1020px) {
    #future-weather-box {
        padding-left: 25%;
    }
}
